<nav class="navbar" style="padding: 0px;">
    <div class="container">
        <ul class="nav navbar-nav flex-row main-nav" style="align-items: center; justify-content: space-between;">
            <li><a href="/" style="padding: 0 2rem; margin: 0"><img class="logo" style="width: 50px; height: 50px"
                        src="/images/BYUI-logo.png" alt="BYU Idaho logo"></a></li>
            <li class="<%= path === '/' ? 'active' : ''%>">
                <a href="/"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Team
                    Activities <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" style="position: absolute !important;">
                    <li class="<%= path === '/ta01' ? 'active' : ''%> dropdown-item"><a href="/ta01">TA01</a></li>
                    <li class="<%= path === '/ta02' ? 'active' : ''%> dropdown-item"><a href="/ta02">TA02</a></li>
                    <li class="<%= path === '/ta03' ? 'active' : ''%> dropdown-item"><a href="/ta03">TA03</a></li>
                    <li class="<%= path === '/ta04' ? 'active' : ''%> dropdown-item"><a href="/ta04">TA04</a></li>
                </ul>
            </li>
            <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Prove
                    <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" style="position: absolute !important;">
                    <li class="<%= path === '/prove01' ? 'active' : ''%> dropdown-item"><a href="/prove01">Prove01</a>
                    </li>
                    <li class="<%= path === '/prove02' ? 'active' : ''%> dropdown-item"><a href="/prove02">Prove02</a>
                    </li>
                    <li class="<%= path === '/prove03' ? 'active' : ''%> dropdown-item"><a href="/prove03">Prove03</a>
                    </li>
                    <li class="<%= path === '/prove04' ? 'active' : ''%> dropdown-item"><a href="/prove04">Prove04</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Project
                    01 <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" style="position: absolute !important;">
                    <li class="<%= path === '/project01' ? 'active' : ''%> dropdown-item"><a href="/project01">Shop</a></li>
                    <li class="<%= path === '/project01/products' ? 'active' : ''%> dropdown-item"><a href="/project01/products">Products</a></li>
                    <li class="<%= path === '/project01/cart' ? 'active' : ''%> dropdown-item"><a href="/project01/cart">Cart</a></li>
                    <li class="dropend dropdown-item">
                        <a href="#" class="dropdown-toggle" data-toggle="dropend" role="button" aria-expanded="false"> Admin <span class="caret"></span></a>
                        <ul class="submenu dropdown-menu" role="menu">
                            <li class="<%= path === '/project01/admin' ? 'active' : ''%> dropdown-item"><a href="/project01/admin/products">Products</a></li>
                            <li class="<%= path === '/admin/add-product' ? 'active' : ''%> dropdown-item"><a href="/project01/admin/add-product">Add Product</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>