<html>

<head>
    <%- include('../../includes/header.ejs') %>
</head>

<body>
    <%- include('../../includes/nav.ejs') %>

    <main>
        <header class="jumbotron text-center"><h1><%= title %></h1></header>
        <% if (prods.length > 0) { %>
            <ul class="container w-50 d-flex flex-column align-items-center">
                <% prods.forEach(p => { %>
                    <li class="d-flex flex-row w-50 justify-content-between border border-dark p-3 mb-3">
                        <p class="mr-3"><%= p.title %> (<%= p.quantity %>)</p> 
                        <form action="/project01/cart-delete-item" method="POST">
                            <input type="hidden" value="<%= p._id %>" name="productId">
                            <button class="btn" type="submit">Remove From Cart</button>
                        </form>
                    </li>
                <% }) %>  
            </ul>
            <div class="container w-25 d-flex flex-end">
                <form action="/project01/create-order" method="POST" class="ml-auto">
                    <button type="submit" class="btn btn-secondary">Checkout</button>
                </form>
            </div>
        <% } else { %>
            <div class="container text-center"><h1>No products in cart.</h1></div>
        <% } %>  
    </main>
</body>

</html>