<html>
<head>
<%- include('../../includes/header.ejs') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/project01_product-list.css">
</head>

<body>
    <%- include('../../includes/nav.ejs') %>

    <main>
        <header>
            <div class="jumbotron text-center"><h1><%= title %></h1></div>
        </header>
        <% if (prods.length > 0) { %>
            <div class="d-flex flex-row flex-wrap container">
                <% for (let product of prods) { %>
                    <article class="card bg-light product-item mb-3">
                        <div class="card__header card-header">
                            <h3 class="product__title text-center"><%= product.title.substr(0, 20) %><% if (product.title.length > 20) { %>...<% } %></h3>
                        </div>
                        <div class="card__image p-4 mx-auto">
                            <img src="<%= product.imageUrl %>"
                                alt="<%= product.title %>">
                        </div>
                        <div class="card__content pl-4 mb-auto">
                            <h3 class="product__price">$<%= product.price %></h3>
                            <p class="product__description"><%= product.description.substr(0, 217) %>
                                <% if (product.description.length > 250) { %> 
                                    ...
                                <% } %>
                            </p>
                        </div>
                        <div class="card__actions pl-4 pr-4 mt-auto d-flex flex-row flex-wrap justify-content-between">
                            <form action="/project01/cart" method="POST">
                                <button class='btn btn-secondary'>Add to Cart</button>
                                <input type="hidden" name="productId" value="<%= product.id %>">
                            </form>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
    </body>
</html>