<html>

<head>
    <%- include('../../includes/header.ejs') %>
</head>

<body>
    <%- include('../../includes/nav.ejs') %>
    <main>
        <header>
            <div class="jumbotron text-center"><h1><%= title %></h1></div>
        </header>
        <% if (orders.length <= 0) { %>
        <h1 class="container text-center">No Orders Found.</h1>
        <% } else { %>
        <ul class="orders container w-50 list-unstyled">
            <% orders.forEach(order => { %>
            <li class="orders__item border border-dark p-3 mb-3">
                <h1>Order - # <%= order._id %></h1>
                <ul class="orders__products">
                    <% order.items.forEach(product => { %>
                    <li class="orders__products-item"><%= product.title %> (<%= product.quantity %>)</li>
                    <% }); %>
                </ul>
            </li>
            <% }); %>
        </ul>
        <% } %>
    </main>
</body>

</html>