<!DOCTYPE html>
<html>

<head>
    <% include ../includes/header.ejs %>
</head>

<body>
    <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
        <div class="container">
            <h1><%= title %></h1>
        </div>
    </div>

    <div class="container w-50">
    <button type="button" class="btn btn-primary mb-3"><a href='/prove02' style="color: white">Add New Book</a></button>

    <% if (typeof bookList == 'object' && bookList.length > 0) { %>
        
        <% for(book of bookList) { %>
            <div class="card mx-auto mb-5 w-100" style="width: 18rem;">
                <div class="card-body">
                  <h4 class="card-title"><%= book.title %> </h4>
                  <p class="card-text"><%= book.summary %></p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"> Author: <%= book.author %> </li>
                  <li class="list-group-item"> Publication Date: <%= book.publish %> </li>
                  <li class="list-group-item"> ISBN: <%= book.isbn %> </li>
                </ul>
              </div>
        <% } %>
        </div>
    <% } else { %>
        <div class="w-75 mx-auto ">
            <h3 class="text-center">Sorry! No books found.</h3>
            <div class="w-75 mx-auto">
                <p class="mt-4 mb-0">You can try:</p>
                <ul>
                    <li>Reloading the page</li>
                    <li>Entering a new book</li>
                    <li>Returning later</li>
                </ul>
            </div>
        </div>
    <% } %> 

</body>

</html>